@page "/"
@using FrontEnd.Data

@inject WebPagesDetailsHttpClient WebPagesDetailClient

<PageTitle>Web Pages</PageTitle>

<h1>Multiple Web Pages</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (webPagesDetails == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Web Page Title</th>
                <th>URL</th>
                <th>Web Page String</th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            } *@

             @foreach (var webPageDetail in webPagesDetails)
            {
                <tr>
                    <td>@webPageDetail.Select</td>
                    <td>@webPageDetail.WebPageTitle</td>
                    <td>@webPageDetail.WebPageURL</td>
                    <td>@webPageDetail.WebPageString</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    //private WeatherForecast[]? forecasts;
    private WebPagesDetails[]? webPagesDetails;

    protected override async Task OnInitializedAsync()
    {
        webPagesDetails = new List<WebPagesDetails>(){
                new WebPagesDetails(){
                    WebPageTitle = "VC-WeatherData", 
                    WebPageURL = "https://www.visualcrossing.com/weather-data/", 
                    WebPageString = await WebPagesDetailClient.GetWebPageStringAsync("https://www.visualcrossing.com/weather-data/")
                    },
                new WebPagesDetails(){
                    WebPageTitle = "VC - Pricing", 
                    WebPageURL = "https://www.visualcrossing.com/weather-data-editions/", 
                    WebPageString = await WebPagesDetailClient.GetWebPageStringAsync("https://www.visualcrossing.com/weather-data-editions/")
                    },

                new WebPagesDetails(){
                    WebPageTitle = "VC - Query Builder", 
                    WebPageURL = "https://www.visualcrossing.com/weather-query-builder/", 
                    WebPageString = await WebPagesDetailClient.GetWebPageStringAsync("https://www.visualcrossing.com/weather-query-builder/")
                }            
            }.ToArray();
    }
}
